@import 'base.scss';
/**created by Rey on 2018.05.30***/
html,body{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index-bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .swiper-container{
    height: 100%;
  }
  .slide-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    .bg{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0;
      transition: all 1s;
      -webkit-transition: all 1s;
      &.active{
        opacity: 1;
      }
    }
  }
  .pagination{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 108px;
    height: 200px;
    margin: auto 0;
    li{
      height: 30px;
      line-height: 30px;
      text-align: right;
      color: $color-o;
      margin-top: 20px;
      cursor: pointer;
      .circle{
        position: relative;
        z-index: -1;
        float: right;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        margin-left: 20px;
        @include border-radius(50%);
        i{
          font-size: 13px;
          color: $color-o;
        }
      }
      span{
        position: relative;
        z-index: -1;
        display: none;
      }
      &.swiper-active-switch{
        .circle{
          background: rgba(200,200,200,.5);
          box-shadow:0 0 6px #aaa;
        }
        span{
          display: inline;
        }
      }
      &:hover{
        .circle{
          i{
            color:darken($color-o, 100%);
          }
        }
        span{
          display: inline;
        }
      }
    }
  }
  .swiper-slide{
    position: relative;
    .content-box{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 23%;
      margin: auto 0;
      height: 80%;
      max-height: 450px;
      max-width: 482px;
      padding-top: 50px;
      .top-title{
        font-size: 70px;
        font-weight: bold;
        color: $color-o;
        font-family: 'DFKai-SB','STKaiti','BiauKai';
        span.dian{
          display: inline-block;
          width: 12px;
          height: 12px;
          background: $color-o;
          vertical-align: middle;
          margin: 0 20px;
          @include border-radius(50%);
        }
      }
      .middle{
        margin: 35px 0;
        color: #f6b064;
        font-size: 40px;
      }
      .middle-list{
        font-family: 'SimHei','STHeiti',sans-serif,"microsoft yahei",;
        margin: 35px 0;
        li{
          font-size: 24px;
          line-height: 38px;
        }
      }
      .info{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 35px;
      }
      .link-more{
        display: inline-block;
        color: #f6b064;
        border: 1px solid #f6b064;
        padding: 3px 10px;
        @include transition(border-radius,.1s);
        &:hover{
          @include border-radius(14px);
        }
      }
      .bottom{
        border-left: 1px solid $color-o;
        padding-left: 20px;
        margin-top: 35px;
        margin-left: 10px;
        li{
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
      .tri{
        position: absolute;
        left: -25px;
        top: 0;
        width: 50px;
        height: 50px;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: center;
        }
        .tri2{
          z-index: 2;
          animation: tritwo 6s infinite linear;
        }
        .tri1{
          z-index: 1;
          animation: trione 6s infinite linear;
        }
        @keyframes trione {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
        }
        @keyframes tritwo {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(-360deg);
          }
        }
      }
    }
  }
  .swiper-next-btn{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 34px;
    height: 38px;
    z-index: 2;
    cursor: pointer;
    img{
      position: absolute;
      left: 0;
      bottom: 0;
      animation: bottomtri 1s infinite;
      -webkit-animation: bottomtri 1s infinite;
    }
    &.top img{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
    @keyframes bottomtri {
      0% {
        bottom: 20px;
        opacity: 1;
      }
      100% {
          bottom: 0px;
          opacity: 0;
      }
    }
  }
  .footer-box{
    position: absolute;
    right: 100px;
    bottom: 10px;
    z-index: 3;
    ul{
      li{
        float: right;
        margin-left: 13px;
        cursor: pointer;
        position: relative;
        &:hover{
          div{
            width: 132px;
            background: #fff;
            @include border-radius(16px);
          }
          i{
            font-size: 26px;
            color: #ddd;
            margin-left: 2px;
          }
        }
        a:hover{
          color: $base-color;
        }
        &>div{
          width: 32px;
          height: 32px;
          line-height: 32px;
          overflow: hidden;
          white-space:nowrap;
          text-overflow:ellipsis;
          @include transition(all,.3s);
          a{
            display: block;
          }
        }
        .img{
          display: none;
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          text-align: center;
          padding-bottom: 10px;
          @include transition(all,.3s);
        }
        &.qq:hover{
          i{
            &:before{
              content: '\e630';
            }
          }
        }
        &.weixin:hover{
          i{
            &:before{
              content: '\e7e5';
            }
          }
          .img{
            display: block;
          }
        }
        &.phone:hover{
          i{
            &:before{
              content: '\e6f0';
            }
          }
        }
        &.talk:hover{
          i{
            &:before{
              content: '\e7a7';
            }
          }
        }
        i{
          text-align: center;
          font-size: 30px;
          color: #fff;
          vertical-align: middle;
          @include transition(color,.2s);
        }
        span{
          display: inline-block;
          width: 100px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}
.index.dark{
  .header{
    .logo{
      .white{
        display: none;
      }
      .dark{
        display: inline;
      }
    }
    .nav {
      ul li {
        a{
          color: #fff;
        }
        &.active{
          a{
            color: #f6b064;
          }
        }
      }
      .line{
        background: #f6b064;
      }
    }
  }
  .index-bg .swiper-slide {
    .content-box {
      color: #fff;
      .top-title{
        color: #fff;
      }
      .bottom{
        border-color: #f6b064;
      }
    }
  }
  .pagination li{
    .circle{
      i{
        color: #f6b064;
      }
    }
    span{
      color: #fff;
    }
  }
}